<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408375385714-btl8rlkva74jarmsfa7kku5jn1ra9p3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408375385714-btl8rlkva74jarmsfa7kku5jn1ra9p3i</string>
	<key>API_KEY</key>
	<string>AIzaSyB9MIPz0x7YjYssASfxbjnRTEfUYanEL2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>408375385714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makovej.Dailoz</string>
	<key>PROJECT_ID</key>
	<string>dailoz-bcd6a</string>
	<key>STORAGE_BUCKET</key>
	<string>dailoz-bcd6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408375385714:ios:d50ec9e43fc42d9b9a2ceb</string>
</dict>
</plist>